/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');
@import url(components/banner.css);
@import url(components/cards.css);
@import url(components/container.css);
@import url(components/footer.css);
@import url(components/buttons.css);
/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
  /* background-image: url('../images/bg2.jpg'); */
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}
h1{
  font-family: 'Rampart One', sans-serif;
}

#highlightText {
  position: relative;
  display: inline-block;
}

#highlightText::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: yellow;
  z-index: -1;
  transition: width 2s ease-in-out;
  animation: highlighting 2s forwards;
}

@keyframes highlighting {
  to {
      width: 100%;
  }
}

 h2, h3, h4 {
  font-family: 'Paytone One', sans-serif;
}

h3{
  font-size: 22pt;
}
@keyframes colorChange {
  0% { background-color: #ff0000; }
  25% { background-color: #00ff00; }
  50% { background-color: #0000ff; }
  75% { background-color: #ffff00; }
  100% { background-color: #ff0000; }
}

h2{
  display: inline-flex;
  align-items: flex-end;
  animation: colorChange 10s infinite;
  font-size: 36pt;
  color:white;
  margin-top: 30px;
  margin-bottom:15px;
  line-height: 1;
  padding-top: 30px;
  padding-bottom: 0px;

}

h2.left{
  padding-left: calc((100vw - var(--container-width)) / 2);
}

h2.right {
  align-self: flex-end;
  padding-right: calc((100vw - var(--container-width)) / 2);
}

h4{
  margin: 0;
}

h3{
  font-size:16pt;
}
a {
  text-decoration: none;
}

.btn-primary {
  display: inline-block;
  animation: colorChange 10s infinite;
  padding: 16px 36px;
  border-radius: 5px;
  color: white;
}
