@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');

.banner {
  /* background-size: cover;
  background-position: center; */
  padding: 100px 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
}

.banner h1 {
  color: black;
}

.banner p {
  color: black;
  opacity: .7;
  font-size: 14px;
  font-family: Yomogi;
  padding-left: 20px;
}
