.card img {
  width: 80%;
}

.card p {
  opacity: .5;
}

.webapp-gallery{
  display: grid;
  grid-template-columns: repeat(3, minmax(33%, 1fr));
  gap: 12px;
}

.webapp{
  background-color: white;
  box-shadow: 0 0 5px rgb(230,230,230);
  border-radius: 3px;
  border: 1px solid rgb(230,230,230);
  padding: 12px;
}

.webapp-content{
  display: grid;
  grid-template-columns: repeat(1, minmax(100%, 1fr));
}
.webapp img {
  width: 100%;
  /* min-width: 400px; */
}
.webapp-text{
  padding: 12px;

}

.wordpress iframe{
  width: 100%;
  height: 250px;
}

.wordpress-gallery{
  display: grid;
  grid-template-columns: repeat(2, minmax(50%, 1fr));
  gap: 12px;
}

.wordpress{
  background-color: white;
  box-shadow: 0 0 5px rgb(230,230,230);
  border-radius: 3px;
  border: 1px solid rgb(230,230,230);
  padding: 12px;
}

.wordpress img {
  width: 100%;
}

.sms-gallery{
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, 1fr));
  gap: 12px;
}
.sms {
  background-color: white;
  box-shadow: 0 0 5px rgb(230,230,230);
  padding: 0;
  border: 1px solid rgb(230,230,230);
}

.sms.content{
  padding: 10px;
color:white;
}
.sms.content.ec{
  background-color: blueviolet;
}
.sms.content.fb{
  background-color: rgb(27, 18, 190);
}
.sms img {
  width: 100%;
  margin:0;
}

.leaflet-gallery{
  display: grid;
  grid-template-columns: repeat(3, minmax(33%, 1fr));
  gap: 12px;
}
.leaflet {
  background-color: white;
  box-shadow: 0 0 5px rgb(230,230,230);
  margin-bottom:10px;
  border: 1px solid rgb(230,230,230);
}

.leaflet img {
  width: 100%;
}

@media (max-width: 850px) {
  .leaflet-gallery{
    grid-template-columns: repeat(2, minmax(50%, 1fr));
  }
  .sms-gallery{
    grid-template-columns:repeat(2, minmax(25%, 1fr));
  }
  .wordpress-gallery{
    grid-template-columns:repeat(1, minmax(80%, 1fr));
  }
  .webapp-gallery{
    grid-template-columns:repeat(1, minmax(80%, 1fr));
  }
  .webapp-content {
    grid-template-columns: 1fr; /* Stack columns vertically when the container is less than 800px */
  }

  .webapp-content img {
    margin: 0 auto; /* Center the image */
  }

  .webapp-text {
    text-align: center;
  }
}



* {box-sizing:border-box}
